printify:
  API_KEY: ____________________________
  BASE_URL: https://api.printify.com/v1
  SHOP_ID: ____________________________
  
shopify:
  store:
    STORE_URL: shopify-store
    SHOPIFY_API_KEY: shpat_____________

pipe17:
  BASE_URL: https://api-v3.pipe17.com/api/v3
  API_KEY: ____________________________
  sandbox:
    URL: https://api-v3.develop.pipe17.com/api/v3
    API_KEY: __________________________
