google_cloud_info:
  project: 
  region: 
  zone: 
  set_env_vars:
    mask: on

functions:
  platformThingDo: 
    # If different from function name:
    src: platform/platformThingDo
    memory: 1024
    timeout: 300
    max_instances: 1
    min_instances: 1
    set_env_vars:
      mask: off
    schedules:
      - name: do_thing_errday
        schedule: 0 0 * * *
        attempt_deadline: 30m
      - name: do_thing_every_10_minutes
        schedule: */10 * * * *

groups:
  doing_things:
    - platformThingDo